.container {
    position: relative;
    text-align: center;
    color: white;
    left: 4%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: "Reey-Regular";
    font-size: 32px;
    color: #ffffff;
    filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}



.logo {
    position: absolute;
    top: 30%;
    left: 36.65%;

    transform: translate(-50%, -50%);
}

.noodles {
    position: absolute;
    top: 55%;
    right: 21%;
    transform: translate(-50%, -50%);
}

.sauce {
    position: absolute;
    top: 68%;
    right: 43%;
    transform: translate(-50%, -50%);
}

.leaves1 {
    position: absolute;
    top: 90.15%;
    right: 20%;
    transform: translate(-50%, -50%);
}



.read {
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 150px;
    height: 27px;
    border-radius: 21px;
    background-color: #ffffff;
}

.tag {
    position: absolute;
    top: 63%;
    left: 30%;
    right: 90%;
    transform: translate(-50%, -50%);
}




.body1 {
    position: absolute;
    top: 90%;
    left: 32%;
    right: 90%;
    transform: translate(-50%, -50%);
}

.nav justify-content-end {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 40%;
   
    transform: translate(-50%, -50%);
}

.link {
    position: absolute;
    top: 7%;
    left: 55%;
    transform: translate(-50%, -50%);
 color: rgb(224, 224, 108);
}

.search {
    position: absolute;
    top: 7%;
    left: 67%;
    transform: translate(-50%, -50%);

}

/* page 1.5 */
.container1 {
    left: 15%;
    top: 0%;
    position: relative;
    text-align: center;
    bottom: 0%;
    padding-bottom: 0%;
    border-bottom: 0px;

}

.title1 {
    position: absolute;
    top: 10%;
    left: 36%;
    transform: translate(-50%, -50%);
}

.text1 {
    position: absolute;
    top: 22%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.nood1 {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
}

.nood2 {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.nood3 {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.tit1 {
    position: absolute;
    top: 70%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.tit2 {
    position: absolute;
    top: 70%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.tit3 {
    position: absolute;
    top: 70%;
    left: 36%;
    transform: translate(-50%, -50%);
}

.body21 {

    position: absolute;
    top: 75%;
    left: 23.6%;
    transform: translate(-50%, -50%);
}

.body22 {

    position: absolute;
    top: 75%;
    left: 49.6%;
    transform: translate(-50%, -50%);
}

.body23 {

    position: absolute;
    top: 75%;
    left: 36.6%;
    transform: translate(-50%, -50%);
}

.body24 {

    position: absolute;
    top: 83%;
    left: 36.6%;
    transform: translate(-50%, -50%);
}

.container2 {
    position: relative;
    text-align: center;
    color: white;
    left: 15%;
    top: 0px;
}

.ti1 {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.bod2 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.bod3 {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.bod4 {
    position: absolute;
    top: 259%;
    left: 46%;
    transform: translate(-50%, -50%);
}


.b1 {
    position: absolute;
    top: 310%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.b2 {
    position: absolute;
    top: 300%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.b3 {
    position: absolute;
    top: 325%;
    left: 74%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 145px;
    font-size: 29px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}

.b4 {
    position: absolute;
    top: 330%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.b5 {
    position: absolute;
    top: 363%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.b6 {
    position: absolute;
    top: 350%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.b7 {
    position: absolute;
    top: 369%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}

.b8 {
    position: absolute;
    top: 377%;
    left: 52%;
    transform: translate(-50%, -50%);


}

.container4 {
    position: relative;
    text-align: center;
    top: 1%;
    left: 3.5%;

}

.c1 {
    position: absolute;
    top: 398%;
    left: 60%;
    transform: translate(-50%, -50%);


}

.c2 {
    position: absolute;
    top: 420%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 294px;
    height: 150px;
    font-size: 14px;
    line-height: 33px;
    color: #f8f6f1;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.c3 {
    position: absolute;
    top: 458%;
    left: 60%;
    transform: translate(-50%, -50%);


}

.c4 {
    position: absolute;
    top: 476%;
    left: 53%;
    transform: translate(-50%, -50%);


}

.c5 {
    position: absolute;
    top: 403%;
    left: 42%;
    transform: translate(-50%, -50%);


}

.container5 {
    top: 383%;
    left: 64%;
    padding-left: 418px;


}

.d1 {
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.d2 {
    position: absolute;
    top: 500%;
    left: 64%;
    transform: translate(-50%, -50%);


}

.d3 {
    position: absolute;
    top: 500%;
    left: 76%;
    transform: translate(-50%, -50%);


}

.d4 {
    position: absolute;
    top: 512%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 11.6px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 120px;
    height: 100px;

}

.d5 {
    position: absolute;
    top: 512%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 11.6px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 120px;
    height: 100px;

}

.d6 {
    position: absolute;
    top: 512%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 11.6px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 120px;
    height: 100px;
    text-align: left;
}

.d7 {
    position: absolute;
    top: 532%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 490px;
    height: 80px;

    text-align: center;
}

.d8 {
    position: absolute;
    top: 555%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 33px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.container6 {
    top: 383%;
    left: 64%;
    padding-left: 418px;
}

.e1 {
    position: absolute;
    top: 592%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.e2 {
    position: absolute;
    top: 602%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 2px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.e3 {
    position: absolute;
    top: 618%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.e4 {
    position: absolute;
    top: 618%;
    left: 74%;
    transform: translate(-50%, -50%);
}

.e5 {
    position: absolute;
    top: 602%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.container7 {
    top: 353%;
    left: 64%;
    padding-left: 418px;
}

.f1 {
    position: absolute;
    top: 648%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.f2 {
    position: absolute;
    top: 654%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 185px;
    height: 50px;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.f3 {
    position: absolute;
    top: 660%;
    left: 54%;
    transform: translate(-50%, -50%);
}
.f5 {
    position: absolute;
    top: 660%;
    left: 62%;
    transform: translate(-50%, -50%);
}
.f7 {
    position: absolute;
    top: 658%;
    left: 72%;
    transform: translate(-50%, -50%);
}
.f8 {
    position: absolute;
    top: 647%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
.f6 {
    position: absolute;
    top: 647%;
    left: 72%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
.f4 {
    position: absolute;
    top: 647%;
    left: 61.5%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
.g1 {
    position: absolute;
    top: 674%;
    left: 38%;
    transform: translate(-50%, -50%);
}
