.container {
    position: relative;
    text-align: center;
    color: white;
    left: 0%;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 38%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family: "Reey-Regular";
    font-size: 38px;
    color: #ffffff;
    filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
    width: 100px;
}
li {
    color: rgb(240, 255, 255);
    margin-top: 10px;
    margin-right: 40px;
    list-style-type: none;
}

.logo {
    position: absolute;
    top: 20%;
    left: 32.65%;

    transform: translate(-50%, -50%);
}

.noodles {
    position: absolute;
    top: 55%;
    right: -2%;
    transform: translate(-50%, -50%);
}

.sauce {
    position: absolute;
    top: 78%;
    right: 30.5%;
    transform: translate(-50%, -50%);
}

.leaves1 {
    position: absolute;
    top: 90.15%;
    right: -10%;
    padding-left:10px;
    transform: translate(-50%, -50%);
}


.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #27292c;
    font-size: large;
  }
 .read {
    position: absolute;
    top: 72%;
    left: 32%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 150px;
    height: 27px;
    border-radius: 21px;
    background-color: #ffffff;
} 
.body2 {
    position: absolute;
    top: 59%;
    left: 32%;
    right: 50%;
    transform: translate(-50%, -50%);
}



.body1 {
    position: absolute;
    top: 87%;
    left: 32%;
    right: 50%;
    transform: translate(-50%, -50%);
}

 .nav justify-content-end {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 40%;
   
    transform: translate(-50%, -50%);
}

.link {
    position: absolute;
    top: 7%;
    left: 55%;
    transform: translate(-50%, -50%);
 color: rgb(224, 224, 108);
} 

.search {
    position: absolute;
    top: 80%;
    left: 67%;
    transform: translate(-50%, -50%);

}


/* page 1.5 */
.container1 {
    left: 14%;
    top: 0%;
    position: relative;
    text-align: center;
    bottom: 0%;
    padding-bottom: 0%;
    border-bottom: 0px;
    width: 100%;
    height:100%;
}

.title1 {
    position: absolute;
    top: 10%;
    left: 36%;
    transform: translate(-50%, -50%);
}

.text1 {
    position: absolute;
    top: 18%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.nood1 {
    position: absolute;
    top: 32%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.nood2 {
    position: absolute;
    top: 32%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.nood3 {
    position: absolute;
    top: 31%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.tit1 {
    position: absolute;
    top: 43%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.tit2 {
    position: absolute;
    top: 43%;
    left: 51.2%;
    transform: translate(-50%, -50%);
}

.tit3 {
    position: absolute;
    top: 43%;
    left: 39%;
    transform: translate(-50%, -50%);
}

.body21 {

    position: absolute;
    top: 135%;
    left: -60px;

    transform: translate(-50%, -50%);
}

.body22 {

    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body23 {

    position: absolute;
    top: 135%;
    left: 110%;
    transform: translate(-50%, -50%);
}


.centered2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafcff;
    font-size: large;
    border-top: 100px;
  }
 .read1 {
    position: absolute;
    top: 272%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 150px;
    border-top: 100px;
    height: 27px;
    border-radius: 21px;
    background-color: #0a0808;
} 
/*page 2 div3*/
.container2 {
    position: relative;
    text-align: center;
    padding-top: 0%;
    left: 1.1;
    top: 0px;
}

.ti1 {
    position: absolute;
    top: 19%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.bod2 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.bod3 {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.bod4 {
    position: absolute;
    top: 259%;
    left: 46%;
    transform: translate(-50%, -50%);
}
.centered3 {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #27292c;
    font-size: large;
  }
 .read2{
    position: absolute;
    top: 92%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 150px;
    height: 27px;
    border-radius: 21px;
    background-color: #ffffff;
}

.b1 {
    position: absolute;
    top: 240%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.b2 {
    position: absolute;
    top: 235%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.b3 {
    position: absolute;
    top: 255%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 145px;
    font-size: 29px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}


.centered4 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafcff;
    font-size: 60%;
    border-top: 100px;
  }
 .read4 {
    position: absolute;
    top: 260%;
    left: 60%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 130px;
    border-top: 100px;
    height: 28px;
    border-radius: 21px;
    background-color: #0a0808;
}
.b5 {
    position: absolute;
    top: 285%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.b6 {
    position: absolute;
    top: 277%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.b7 {
    position: absolute;
    top: 292%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}

.centered5 {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #fafcff;
    font-size: 60%;
    border-top: 100px;
  }
 .read5 {
    position: absolute;
    top: 296%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 130px;
    border-top: 100px;
    height: 28px;
    border-radius: 21px;
    background-color: #0a0808;
}

.container5 {
    position:relative;
    text-align: center;
    top: 0%;
    left: 1.5%;
    padding-left: 800px;

}

.c1 {
    position: absolute;
    top: 318%;
    left: 60%;
    transform: translate(-50%, -50%);


}

.c2 {
    position: absolute;
    top: 330%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 294px;
    height: 150px;
    font-size: 15px;
    line-height: 33px;
    color: #f8f6f1;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.c3 {
    position: absolute;
    top: 355%;
    left: 60%;
    transform: translate(-50%, -50%);


}

.c4 {
    position: absolute;
    top: 362%;
    left: 53%;
    transform: translate(-50%, -50%);


}

.c5 {
    position: absolute;
    top: 310%;
    left: 42%;
    transform: translate(-50%, -50%);


}

.container5 {
    position: relative;
    top: 383%;
    left: 32%;
    padding-left: 0px;


}

.d1 {
    position: absolute;
    top: 380%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.d2 {
    position: absolute;
    top: 380%;
    left: 63%;
    transform: translate(-50%, -50%);


}

.d3 {
    position: absolute;
    top: 380%;
    left: 76%;
    transform: translate(-50%, -50%);


}

.d4 {
    position: absolute;
    top: 392%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 11.6px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 120px;
    height: 100px;

}

.d5 {
    position: absolute;
    top: 392%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 11.6px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 122px;
    height: 100px;

}

.d6 {
    position: absolute;
    top: 392%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 11.6px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 120px;
    height: 100px;
    text-align: left;
}

.d7 {
    position: absolute;
    top: 412%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 490px;
    height: 80px;

    text-align: center;
}

.d8 {
    position: absolute;
    top: 425%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 33px;
    color: #3f3f3f;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.container6 {
    top: 383%;
    left: 64%;
    padding-left: 428px;
}

.e1 {
    position: absolute;
    top: 445%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: #faf1f1;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.e2 {
    position: absolute;
    top: 452%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 510px;
    height: 2px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 50;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.centered6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #44393a;
    font-size: large;
  }
 .read6 {
    position: absolute;
    top: 466%;
    left: 55%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 250px;
    height: 30px;
    border-radius: 21px;
    background-color: #ffffff;
}
.centered7 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcf7f7;
    font-size: large;
  }
 .read7 {
    position: absolute;
    top: 466%;
    left: 65%;
    transform: translate(-50%, -50%);
    border: initial;
    opacity: 0.902;
    width: 110px;
    height: 30px;
    border-radius: 21px;
    background-color: #5f5c5c;
}


.e5 {
    position: absolute;
    top: 452%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.container7 {
    top: 353%;
    left: 74%;
    padding-left: 488px;
}

.f1 {
    position: absolute;
    top: 488%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.f2 {
    position: absolute;
    top: 494%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 185px;
    height: 50px;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.f3 {
    position: absolute;
    top: 500%;
    left: 54%;
    transform: translate(-50%, -50%);
}
.f5 {
    position: absolute;
    top: 500%;
    left: 62%;
    transform: translate(-50%, -50%);
}
.f7 {
    position: absolute;
    top: 500%;
    left: 72%;
    transform: translate(-50%, -50%);
}
.f8 {
    position: absolute;
    top: 490%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
.f6 {
    position: absolute;
    top: 490%;
    left: 72%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
.f4 {
    position: absolute;
    top: 490%;
    left: 61.5%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
.g1 {
    position: absolute;
    top: 510%;
    left: 40%;
    transform: translate(-50%, -50%);
}
