.page1{
    position: relative;
    top: 0px;
    left: 0px;
}
.a1{
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}
.a2{
    position: absolute;
    top:70px;
    left:70px;
}
.a3{
    position: absolute;
    top:150px;
    left:750px;
}
ul {
    list-style-type: none;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(13, 13, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.head{
    position: absolute;
}